<div class="container-fluid">
  <div class="row">
    <%= render 'left_block' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
<div class="container">
  <center><h1>Редактирование данных ребенка</h1></center>
<%= form_with model: @apprentice, local: true do |form| %>

  <% if @apprentice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@apprentice.errors.count, "error") %> prohibited
        this apprentice from being saved:
      </h2>
      <ul>
        <% @apprentice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label "Пресональный Номер", class: "col-lg-3 col-form-label form-control-label" %>
      <div class="col-lg-9">
          <%= form.text_field :personal_number, class: 'form-control', placeholder: 'Пресональный Номер' %>
     </div>
  </div>

  <div class="form-group row">
    <%= form.label "Фамилия Имя Отчество", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :full_name, class: 'form-control', placeholder: 'Фамилия Имя Отчество' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "День рождения", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.date_field :birth_date, class: 'form-control', placeholder: 'День рождения' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Дата зачисления", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.date_field :receipt_date, class: 'form-control', placeholder: 'Дата зачисления' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Документы", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :document, class: 'form-control', placeholder: 'Документы, паспорт если есть и т.д' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Данные о родителях №1", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :parents_1, class: 'form-control', placeholder: 'Данные о родителях №1' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Данные о родителях №2", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :parents_2, class: 'form-control', placeholder: 'Данные о родителях №2' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Достижения учашегося", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :achievements, class: 'form-control', placeholder: 'Достижения учашегося' %>
    </div>
  </div>

<div class="form-group row">
    <%= form.label "Телефон для связи", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.telephone_field :phone, class: 'form-control', placeholder: 'Телефон для связи' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Мероприятия по годам", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :events, class: 'form-control', placeholder: 'Мероприятия по годам' %>
    </div>
  </div>

  <div class="form-group row">
    <!-- Gender Falame & Male select_ -->
    <%= form.label "Пол: М\Ж", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :gender, class: 'form-control', placeholder: 'Пол: М\Ж' %>
    </div>
  </div>

  <div class="form-group row">
    <!-- Resident 0 - not 1 - yes  select_ -->
    <%= form.label "Статус ребенка в организации: 0 - нет статуса 1 - резидент", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :status, class: 'form-control', placeholder: 'Статус ребенка в организации: 0 - нет статуса 1 - резидент' %>
    </div>
  </div>

  <div class="form-group row">
    <!-- Прикреплен за организацией: 0 - нет 1 - школа 2 - училище 3 - вуз 4-0 - ЕВРАЗ 4-1 Русал  select_ -->
    <%= form.label "Прикреплен за организацией: 0 - нет 1 - школа 2 - училище 3 - вуз 4-0 - ЕВРАЗ 4-1 Русал", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_field :home, class: 'form-control', placeholder: 'Прикреплен за организацией: 0 - нет 1 - школа 2 - училище 3 - вуз 4-0 - ЕВРАЗ 4-1 Русал' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Ссылка на социальные сети ребенка", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :sociallin_1, class: 'form-control', placeholder: 'Ссылка на социальные сети ребенка' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Ссылка на социальные сети ребенка", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :sociallin_2, class: 'form-control', placeholder: 'Ссылка на социальные сети ребенка' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Ссылка на электроную почту", class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.email_field :email, class: 'form-control', placeholder: 'Ссылка на электроную почту' %>
    </div>
  </div>

  <div class="form-group row">
    <!--Разрешен доступ на размещение 0 - нет 1 - да select_ -->
    <%= form.label 'Разрешен доступ на размещение 0 - нет 1 - да', class: "col-lg-3 col-form-label form-control-label" %>
    <div class="col-lg-9">
    <%= form.text_area :valid, class: 'form-control', placeholder: 'Разрешен доступ на размещение 0 - нет 1 - да' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.button "Обновить данные", class: 'btn btn-lg btn-primary btn-block'  %>
  </div>
<% end %>
</div>
</div>
</div>
