<%= form_with model: @apprentice, local: true do |form| %>

  <% if @apprentice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@apprentice.errors.count, "error") %> prohibited
        this apprentice from being saved:
      </h2>
      <ul>
        <% @apprentice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :personal_number %><br>
    <%= form.text_field :personal_number %>
  </p>

  <p>
    <%= form.label :full_name %><br>
    <%= form.text_area :full_name %>
  </p>

  <p>
    <%= form.label :birth_date %><br>
    <%= form.date_field :birth_date %>
  </p>

  <p>
    <%= form.label :receipt_date %><br>
    <%= form.date_field :receipt_date %>
  </p>

  <p>
    <%= form.label :document %><br>
    <%= form.text_area :document %>
  </p>

  <p>
    <%= form.label :parents_1 %><br>
    <%= form.text_area :parents_1 %>
  </p>

  <p>
    <%= form.label :parents_2 %><br>
    <%= form.text_area :parents_2 %>
  </p>

  <p>
    <%= form.label :achievements %><br>
    <%= form.text_area :achievements %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.telephone_field :phone %>
  </p>

  <p>
    <%= form.label :events %><br>
    <%= form.text_area :events %>
  </p>

  <p>
    <!-- Gender Falame & Male select_ -->
    <%= form.label :gender %><br>
    <%= form.text_area :gender %>
  </p>

  <p>
    <!-- Resident 0 - not 1 - yes  select_ -->
    <%= form.label :status %><br>
    <%= form.text_area :status %>
  </p>

  <p>
    <!-- Прикреплен за организацией: 0 - нет 1 - школа 2 - училище 3 - вуз 4-0 - ЕВРАЗ 4-1 Русал  select_ -->
    <%= form.label :home %><br>
    <%= form.text_area :home %>
  </p>

  <p>
    <%= form.label :sociallin_1 %><br>
    <%= form.text_area :sociallin_1 %>
  </p>

  <p>
    <%= form.label :sociallin_2 %><br>
    <%= form.text_area :sociallin_2 %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>

  <p>
    <!--Разрешен доступ на размещение 0 - нет 1 - да select_ -->
    <%= form.label :valid %><br>
    <%= form.text_area :valid %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
