<%= form_with model: @apprentice, local: true do |form| %>

  <% if @apprentice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@apprentice.errors.count, "error") %> prohibited
        this apprentice from being saved:
      </h2>
      <ul>
        <% @apprentice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :personal_number %><br>
    <%= form.text_field :personal_number %>
  </p>

  <p>
    <%= form.label :full_name %><br>
    <%= form.text_area :full_name %>
  </p>

  <p>
    <%= form.label :birth_date %><br>
    <%= form.date_field :birth_date %>
  </p>

  <p>
    <%= form.label :receipt_date %><br>
    <%= form.date_field :receipt_date %>
  </p>

  <p>
    <%= form.label :document %><br>
    <%= form.text_field :document %>
  </p>

  <p>
    <%= form.label :parents_1 %><br>
    <%= form.text_field :parents_1 %>
  </p>

  <p>
    <%= form.label :parents_2 %><br>
    <%= form.text_field :parents_2 %>
  </p>

  <p>
    <%= form.label :achievements %><br>
    <%= form.text_area :achievements %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.telephone_field :phone %>
  </p>

  <p>
    <%= form.label :events %><br>
    <%= form.text_area :events %>
  </p

  <p>
    <!-- select_ f or m -->
    <%= form.label :gender %><br>
    <%= form.text_area :gender %>
  </p

  <p>
    <%= form.submit %>
  </p>

<% end %>
