<%= render 'header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'left_block' %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h2>Список детей в базе данных</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ф.И.О</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <% @apprentices.each do |apprentice| %>
                <tr>
                  <td><%= apprentice.personal_number %></td>
                  <td><%= link_to apprentice.full_name, apprentice_path(apprentice) %></td>
                  <td>#enterData2</td>
                  <td>#enterData3</td>
                  <td>#enterData4</td>
                  <td><%= link_to 'Редактировать', edit_apprentice_path(apprentice) %></td>
                  <td><%= link_to 'Удалить', apprentice_path(apprentice),
                    method: :delete,
                    data: { confirm: 'Вы уверены, что хотите удалить из базы данных?' } %>
                  </td>
                </tr>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
    <%= render 'footer' %>
